<div class="signup-form ">
  <form id="owner_signup_form" class="signup-form" #signUpForm="ngForm"  (ngSubmit)="signUpForm.form.valid && onSubmit()">
      <p class="signup-title">Sign Up</p>
      <div class="md-form">
        <mat-form-field class="signup-full-field">
          <input matInput placeholder="Name" [(ngModel)]="ownerSignUp.name" name="name" required>
        </mat-form-field>
      </div>
    <div class="md-form">
    <mat-form-field class="signup-full-field">
      <input matInput placeholder="Mobile No" [(ngModel)]="ownerSignUp.mobileNo" name="mobileNo" required>
    </mat-form-field>
  </div>
  <div class="md-form">
    <mat-form-field class="signup-full-field">
      <input matInput placeholder="Password" [(ngModel)]="ownerSignUp.password" name="password" required>
    </mat-form-field>
  </div>
  <div class="md-form">
    <mat-form-field class="signup-full-field">
      <input matInput placeholder="Confirm Password" [(ngModel)]="ownerSignUp.confirmPassword" name="confirmPassword" required>
    </mat-form-field>
  </div>
  <div >
    <button mat-raised-button class="signup-button">SignUp</button>
    <button mat-raised-button class="signup-cancel-button" routerLink="/signin">Cancel</button>
  </div>
  
   
  
  </form>
  </div>