<div class="signin-form ">
<form id="owner_signin_form" class="signin-form" #signInForm="ngForm"  (ngSubmit)="signInForm.form.valid && onSubmit()">
    <p class="signin-title">Sign in</p>
  <div class="md-form">
  <mat-form-field class="signin-full-field">
    <input matInput placeholder="Mobile No" [(ngModel)]="ownerSignIn.mobileNo" name="mobileNo" required>
  </mat-form-field>
</div>
<div class="md-form">
  <mat-form-field class="signin-full-field">
    <input matInput  placeholder="Password" [(ngModel)]="ownerSignIn.password" name="password" required>
  </mat-form-field>
</div>
<div >
  <button  mat-raised-button  class="login-button" >Login</button>
  <button mat-raised-button class="signup-button" routerLink="/signup">SignUp</button>
</div>
</form>
</div>

<nav>
    <a routerLink="/home">Home</a>
  </nav>
  
  <router-outlet></router-outlet>