<form id="clubinfoform">
  <div class="horizontal-div">

    <button mat-icon-button class="icon-button-info">
      <mat-icon>person</mat-icon>Ajay
    </button>
    <button mat-icon-button class="icon-button-info">
      <mat-icon>phone</mat-icon>9884609080
    </button>


  </div>



  <mat-form-field class="normal-alignment">
    <input matInput placeholder="Location" />
  </mat-form-field>

  <mat-form-field class="normal-alignment">
    <input matInput placeholder="LandMark" />
  </mat-form-field>


  <mat-form-field class="normal-alignment">
    <input matInput placeholder="City" value="Chennai" />
  </mat-form-field>


  <mat-form-field class="normal-alignment">
    <input matInput placeholder="State" value="TamilNadu" />
  </mat-form-field>

  <mat-form-field class="normal-alignment">
    <input matInput type="number" min="1" onlyNumber="true" placeholder="No of courts" />
  </mat-form-field>
  <div class="horizontal-div">
    <button mat-raised-button class="cancel-button">
      Cancel
    </button>
    <button mat-raised-button class="save-button">
      Submit
    </button>

  </div>
</form>